<h2>User Info:</h2>
<p><%= display_user_photo(@user) %></p>
<p>Name: <%= @user.name %> <%= @user.posts_counter %> posts</p>
<p>Bio: <%= @user.bio %></p>

<h2>Recent Posts:</h2>
<ul>
  <li><% @user.most_recent_posts.each do |post| %>
        <%= link_to "/users/#{@user.id}/posts/#{post.id}", class: 'user-wraps' do %>
          <h3 class="secundary-text">Post #<%= post.id %> <%= post.title %></h3>
          <p class="text"><%= post.text %></p>
          <span class="post-counter text">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></span>
        <% end %>
        
      <% end %><li><br>
</ul>
<div>
  <div class="seeAllPostBtn">
    <button>
     <%= link_to 'See all Posts', user_posts_path(@user) %>
    </button>
  </div>    
</div>
